body {
    background-color: #ccffcc;
}

.bodyNav {
    background-color: #ccffcc;
	padding-top: 56px;

}

header{
	height: 4.5em;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
	z-index: 10001;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.Fullbutton {
    background-color: #004020; /* Dark Green */
    border: none;
    color: white;
    padding: 15px 30px;
	width:  80%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	text-transform: uppercase;
	font-size: 0.6em;
}

.button {
    background-color: #004020; /* Dark Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	text-transform: uppercase;
	font-size: 0.6em;
}

.container{
	background-color: #e6ffe6;
	padding: 10px 30px;
}

h1, h2, h3, h4, h5, h6 {
	color: #484848;
	font-weight: 700;
	line-height: 1em;
	margin: 0 0 1em 0;
	text-transform: uppercase;
}

h5 {
	font-size: 0.9em;
	line-height: 1.5em;
}

h6 {
	font-size: 0.7em;
	line-height: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
	font-family: verdana;
    font-size: 16px;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding-top: 16px;
	padding-right: 16px;
	padding-bottom: 14px;
	padding-left: 16px;
	left: 0;
	top: 0;
	width: auto;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
