body {
    background-color: #33ccff;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

img {
    /* Force images to Auto Scale */
    width: 100%;
    height: auto;
}
